

/*[ Header ]
///////////////////////////////////////////////////////////
*/

.wrap-menu-header {
  position: absolute;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 100;
  border-top: 5px solid #ec1d25;
}

.wrap_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}

.header-fixed .wrap-menu-header {
  position: fixed;
  height: 100px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

/*[ Logo ]
-----------------------------------------------------------
*/
.logo {
  height: 50px;
}

.logo > a{
  display: block;
  height: 100%;
}

.logo > a > img {
  width: auto;
  max-height: 100%;
  vertical-align: middle;
}


/*[ Menu ]
-----------------------------------------------------------
*/
.wrap_menu {
  height: 100%;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_menu li {
  display: block;
  position: relative;
}

.main_menu > li {
  padding-top: 10px;  
  padding-bottom: 10px; 
  margin-left: 10px;
  margin-right: 10px;
}

.main_menu > li > a {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 15px;
}

.header-fixed .main_menu > li > a {
  color: #222222;
}

.main_menu > li:hover > a {
  color: #ec1d25;
  text-decoration: none;
}

/* ------------------------------------ */
.sub_menu {
  position: absolute;
  top:0;
  left: 100%;
  width: 225px;
  background-color: white;

  transform-origin: top left;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.34; 
}

.main_menu > li > .sub_menu {
  top:100%;
  left: 0;
  position: absolute;
}

.main_menu > li:hover .sub_menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.sub_menu li:hover > .sub_menu {
  display: block;
} 

.sub_menu li {
  background-color: #f2f2f2;
  border-top: 1px solid #e0e0e0; 
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.sub_menu li:hover {
  background-color: white;
}

.sub_menu li, .sub_menu a {
  padding: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}

.sub_menu > li:hover > a {
  color: #555555;
  text-decoration: none;
}


/*[ Social ]
-----------------------------------------------------------
*/
.social a {
  font-size: 15px;
  color: white;
}

.header-fixed .social a {
  color: #222222;
}

.social a:hover {
  color: #ec1d25;
}

.btn-show-sidebar {
  width: 26px;
  height: 15px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.header-fixed .btn-show-sidebar {
  border-top: 2px solid #222222;
  border-bottom: 2px solid #222222;
}

.btn-show-sidebar:hover {
  border-top: 2px solid #ec1d25;
  border-bottom: 2px solid #ec1d25;
}

@media (max-width: 1200px) {
  .main_menu > li {
    margin-left: 4px;
    margin-right: 4px;
  }

  .social {padding-right: 0px;}

  .logo {
    height: 45px;
  }
}

@media (max-width: 992px) {
  .wrap_menu {
    display: none;
  }

  .wrap_header {
    height: 100px;
  }
}




/*[ Sidebar ]
///////////////////////////////////////////////////////////
*/
.sidebar {
  position: fixed;
  z-index: 1200;
  width: 390px;
  height: 100%;
  overflow: auto;
  background-color: white;
  top: 0;
  right: -390px;
}

@media (max-width: 576px) {
  .sidebar {width: 300px;}
}

.show-sidebar {
  right: 0px;
}

.btn-hide-sidebar {
  position: absolute;
  font-size: 20px;
  color: #111111;
  padding: 10px;
  top: 20px;
  right: 20px;
}

.overlay-sidebar {
  position: fixed;
  z-index: 1150;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.show-overlay-sidebar {
  visibility: visible;
  background-color: rgba(0,0,0,0.65);
}

/* ------------------------------------ */
.item-gallery-sidebar {
  display: block;
  position: relative;
  width: calc((100% - 30px) / 3 );
  margin: 5px;
}

.item-gallery-sidebar::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.item-gallery-sidebar:hover:after {
  background-color: rgba(236,29,37,0.7);
}

@media (max-width: 576px) {
  .wrap_header {
    height: 80px;
  }

  .gallery-sidebar {
    padding-left: 20px;
    padding-right: 20px;
  }
}
